// Base
$color-white: #ffffff;
$color-black: #000000;

// General
$color-background: #f9f8f3;
$color-text: #5f5d75;
$color-text-muted: #737380;

$color-footer: #1e1b3a;
$color-footer-low: #2a264f;
$color-footer-lowest: #3c376e;
$color-on-footer: #b9b5c9;

$color-surface: #fff9e5;
$color-surface-low: #fffcf5;

$color-primary: #ffd02b;
$color-primary-low: #fde047;
$color-primary-high: #e5bb00;
$color-on-primary: #242145;

$color-secondary: #f0eeff;
$color-tertiary: #3a2ebf;

$color-like: #ff484b;
$color-error: #b3261e;
$color-price-free: #008a8f;

// Borders
$color-outline: #e5e7eb;
$color-outline-variant: #d2d2d2;

$border-width-medium: 2px;

// Logo

$logo-icon-size: 1.875rem;

// Font
$font-family-base: 'Inter', sans-serif;
$font-size-title-xx-small: 1rem;
$font-size-title-xxx-small: 1.125rem;
$font-size-headline-small: 1.25rem;
$font-size-body-small: 0.875rem;
$font-size-label-large: 0.875rem;
$font-size-display-large: 3.5rem;
$font-size-body-large: 1.125rem;
$font-size-display-medium: 2.25rem;

$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 2rem;
$font-size-xxl: 3rem;

$btn-large-y: 14px;
$btn-large-x: 22px;
$btn-medium-y: 0.625rem;
$btn-medium-x: 1.25rem;
$btn-icon: 0.5rem;
$btn-small-y: 0.5rem;
$btn-small-x: 1rem;

$space-xs: 0.25rem;
$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 1.5rem;
$space-xl: 2rem;
$space-xxl: 4rem;

$size-15: 7.5rem;
$size-14: 7rem;
$size-10: 5rem;
$size-9: 4.5rem;
$size-6: 3rem;
$size-5: 2.5rem;
$size-4: 2rem;
$size-3: 1.5rem;
$size-2: 1rem;
$size-1: 0.5rem;
$size-05: 0.25rem;

$radius-sm: 0.25rem;
$radius-md: 0.5rem;
$radius-lg: 1rem;
