@use './tokens';
@use './breakpoints';
@use './utilities';
@use './components/header';
@use './components/hero';
@use '../features/slider/slider';
@use './components/leaderboard';
@use './components/developer-section';
@use './components/footer';
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: tokens.$font-family-base;
  color: tokens.$color-text;
  background-color: tokens.$color-background;
}
